#container {
    width: 100%;
    outline: 1px solid aquamarine;
}
.box {
    width: 200px;
    height: 200px;
    background: black;
}
.red {
    background: red;
}
.aquamarine {
    background: aquamarine;
}