#container {
    width: 100%;
    outline: 1px solid aquamarine;
}
.box1 {
    width: 200px;
    height: 200px;
    background: red;
}
.box2 {
    width: 300px;
    height: 100px;
    background: aquamarine;
}